* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active {
  color: #000;
  font-weight: 700;
}
.box {
  height: 40vh;
}
.box-mine {
  width: 100px;
  height: 60px;
  background: rgb(198, 196, 196);
  transform: translateY(10px);
}
