* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}
.home-text {
  background: #164069;
}
.home-text h2 {
  color: #000000;
}
.card-img {
  height: 18rem;
}
.card-img img {
  object-fit: cover;
  object-position: center;
}
.box {
  height: 40vh;
}
.box-mine {
  height: 20vh;
}
.badge {
  margin: 12px;
  width: 8em;
  height: 5em;
  font-weight: 400;
  background: #164069;
}
.gallery {
  height: 100%;
}
.parent-img {
  width: 70%;
}
.parent-img,
.child-container-img {
  height: 50vh;
}
.child-img {
  height: calc((100% - 1rem) / 2);
}
.child-img img {
  width: 365px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .gallery .container {
    flex-direction: column;
  }
  .parent-img {
    width: 100%;
  }
  .child-img {
    height: 60vh;
  }
  .child-img img {
    width: 100%;
  }
}
.banner img {
  height: 350px;
}
